{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap">
    <link rel="stylesheet" href="{% static 'css/About.css' %}">
    <title>About</title>
</head>

<body>
    <div class="about">
        <h1>
            About-Us
        </h1>
        <p>
        Hello Visitor !! Welcome to Science Professor . This a educational website where we provide detailed
        analysis and description of various topics which are usually hard to understand , we've decided to start with topics of Physics,
        Economics and Computer Science and later would add other subjects such as Mathematics, Chemistry, Biology as well . Each and every topic
        is written by students and professionals who excel in their respective fields . <br>
        Hope you'll enjoy your visit to www.scienceprofessor.edu. <br>
        Your Love and Support will keep us going , keep loving and keep sharing . 
        Get in touch with us @<h3><a href="{% url 'contact' %}">Contact-Us</a></h3>
        </p>
    </div>

    <img src="https://scontent.fccu1-1.fna.fbcdn.net/v/t1.0-9/42177590_1853011071420710_4197905927078150144_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=Ht-7MYhG3ZIAX9IugZk&_nc_ht=scontent.fccu1-1.fna&oh=5e9a7ac7bc755ff19da3f4ef7607c010&oe=6068D022" alt="img">

    <div class="dev">
        This website is made and maintained by : Neelakash Chatterjee 
    </div>
    
</body>

</html>