{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Details.css' %}">
    <title>{{info}}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap">
</head>

<body>
    <div class="heading">
        <h1>{{info}}</h1>
    </div>
    {% for enter in entries %}
    <p>
        <li><a href="{% url 'description' enter.id %}">{{enter.Sub_Topic}}</a></li>
    </p>
    {% endfor %}
</body>

</html>